/* Search Section */
.search-section {
  display: flex;
  gap: 10px;
  margin: 20px 50px;
}

.input-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  width: 100%;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

/* Transaction Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table td {
  vertical-align: middle;
}

table td:last-child {
  font-weight: bold;
  color: var(--secondary-text);
}

table td:last-child.paid {
  color: green;
}

table td:last-child.pending {
  color: red;
}

/* Payment Status Styles */
.status {
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.status.paid span {
  background-color: #a8f8ab;
  color: #17a21b;
  padding: 2px 10px;
  border-radius: 8px;
}

.status.pending span {
  background-color: #f8f296;
  color: #856f0c;
  padding: 2px 10px;
  border-radius: 8px;
}

.status.canceled span {
  background-color: #f8a596;
  color: #a22c17;
  padding: 2px 10px;
  border-radius: 8px;
}
